[submodule "pico-ssd1306"]
	path = pico-ssd1306
	url = https://github.com/headblockhead/pico-ssd1306
[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "external/pico-ssd1306"]
	path = external/pico-ssd1306
	url = https://github.com/Harbys/pico-ssd1306.git
